<p id="notice"><%= notice %></p>

<h1>Listing Emotes</h1>
<div class="emote-list">
  <section class="ui fluid container">
    <div class="hrz-container center">
      <div class="ui big icon input">
        <input type="text" placeholder="Invite Friends...">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="hrz-container">
      <div class="nav-links">
        <a class="nav-link-anchor" href="#">HOME</a>
        <a class="nav-link-anchor" href="#">PRESET</a>
        <a class="nav-link-anchor" href="#">DEMO</a>
      </div>
    </div>

  </section>

  <br/ >

  <section class="ui three column stackable grid container">
    <% @emotes.in_groups_of(3) do |group| %>
      <% group.each do |emote| %>
        <% unless emote.nil? %>
          <article class="column">
            <div class="ui segment">
              <%= emote.command %>
              <%= emote.url %>
              <img src="<%= emote.url %>" width="480" height="193" frameBorder="0" class="giphy-embed" allowFullScreen></img>
              <div class="ui big input">
                <input type="text" placeholder="<%= emote.command %>">
              </div>
              <br />
              <%= link_to 'Show', emote %>
              <%= link_to 'Edit', edit_emote_path(emote) %>
              <%= link_to 'Destroy', emote, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </article>
        <% end %>

        <br />

      <% end %>
    <% end %>
    <div class="ui container">
      <%= link_to 'New Emote', new_emote_path %>
    </div>

  </section>

  <article class="ui basic modal hidden" id="log-in-modal">
    <i class="close icon"></i>
    <div class="header centered">
      Log in!
    </div>
    <div class="description centered">
      <p>Welcome to Emotely.</p>
    </div>
    <div class="actions">
      <%= form_for :login do |f| %>
        <div class="ui fluid big input">
          <%#= f.label :email, {:class => ''} %>
          <%= f.text_field :email, {placeholder: 'Email'} %>
        </div>
        <br />
        <div class="ui fluid big input">
          <%#= f.label :password, {:class => ''} %>
          <%= f.password_field :password, { placeholder: 'Password'} %>
        </div>
        <br />
        <div class="one fluid ui inverted buttons">
          <%= f.submit "Log in!", {:class => 'ui green basic inverted button'} %>
        </div>
      <% end %>
    </div>
  </article>

  <article class="">

  </article>

  <br>



</div>
