<p id="notice"><%= notice %></p>

<p>
  <strong>Command:</strong>
  <%= @emote.command %>
</p>

<p>
  <strong>Url:</strong>
  <%= @emote.url %>
</p>

<%= link_to 'Edit', edit_emote_path(@emote) %> |
<%= link_to 'Back', emotes_path %>
